.school {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: left;
    
}

img {
    height: 220px;
    width: 220px;
}

.school_image {
    margin: 10px;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.school_image:hover {
    transform: translateY(-7px);
}