.skills__list {
  max-width: 500px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px
}

.skills__container h5 {
  padding: 5px;
}

.skills__list-item {
  margin: 0.5em;
}
